#intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* or any color you prefer */
    display: none; /* Hide initially */
}

h1, p {
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.menu-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #000000; /* Dark background to blend in */
    text-align: center;
}

.menu-bar li {
    display: inline-block; /* Display items in a row */
}

.menu-bar a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white; /* Light text color for contrast */
    transition: background-color 0.3s; /* Smooth transition for hover effect */


    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.menu-bar a:hover {
    background-color: #555; /* Slightly lighter background on hover */
}
.menu-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure the menu stays on top of other content */
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.overpass-mono-<uniquifier> {
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.mukta-extralight {
  font-family: "Mukta", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mukta-light {
  font-family: "Mukta", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mukta-regular {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mukta-medium {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mukta-semibold {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mukta-bold {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mukta-extrabold {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-style: normal;
}
body {
    padding-top: 50px; /* Adjust based on the height of your menu bar */
}






#music {
    text-align: center;
    padding: 50px 20px;
}

#top-tracks {
    list-style: none;
    padding: 0;
}

#top-tracks li {
    display: flex;
    align-items: center;
    margin: 10px auto;
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

#top-tracks img {
    border-radius: 5px;
    margin-right: 15px;
}

#login-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
}

#login-btn:hover {
    background-color: #1ed760;
}
